.liStyle{
    /* margin-bottom: 20px;
    font-size: 40px; */
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin: 4px;
}

.bold{
    font-weight: bold;
}

.large-font{
    font-size: large;
}

/* .liStyle li{
    margin-bottom: 20px;
    margin-top: 20px;
} */


/* .liStyle ul{
    font-size: 20px;
} */